body{
    text-align: center;
    margin: 0;
    font-family: "europa", sans-serif;
}

.navbar{
    font-size: 17px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-family: "europa", sans-serif;
    height: 150px;
    background-color: white;
}

.navbar-left, .navbar-right{
    font-weight: 400;
    display: flex;
    align-items: center;
}


.main-logo{
    width: 60px;
}

.navbar-left{
    margin-left: 80px;
}

.navbar-right{
    margin-right: 80px;
}
.Contact{
    color: #6E07F3;
    margin-left: 30px ;
    padding: 10px 20px 10px 20px;
    border: #6E07F3 solid 1.75px;
    border-radius: 40px;
}


.Contact, .About{
    -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.About:hover{
    color: #6E07F3;
}

.Contact:hover{
    background-color: #6E07F3;
    color: white;
}

h1{
    font-family: 'Play', sans-serif;
    font-weight: 800;
    font-size: 3em;
}

.My-description{
    font-size: 1.25em;
}


.Akhil-image{
    width: 250px;
    margin-bottom: 70px;
    margin-top: 50px;
}

.Illustration-image{
    width: 50%;
}

.Container{
    margin-top: -4px;
    padding: 120px 100px;
    font-size: 10px;
    color: white;
    height: 400px;
    background-color: #6E07F3;
}

.Container-inside{
    margin-top: 70px;
}

.Container-paragraph{
    line-height: 25px;
    font-size: 1.75em;
    margin-left: 300px;
    margin-right: 300px;
}


.Work-container{
    background-color: white;
    border-color: black     2px solid;
    border-radius:20px ;
    margin: auto;
    margin-top: -150px;
    height: 500px;
    width: 80%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px grey ;
    
}

.Work-inside{
    width: 100%;
    margin: auto;

}


.Inside-top{
    font-size: 8.5px;

}

.Inside-bottom1, .Inside-bottom2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.Inside-bottom1, .Inside-bottom2 >* {
    margin-top: 50px;
}

.box{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100px;
    width:  100px;
}

.Cpp-logo{
    width: 81%;
    margin-left: 10px;

}

.Python-logo{
    width: 110%;
    margin-left: -5px;
}

.React-logo{
    width: 100%;
}

.Nodejs-logo{
    width: 110%;
    margin-left: -5.5px;
}

.Html-logo{
    width: 90%;
    margin-left: 5px;
}

.Css-logo{
    width: 90%;
    margin-left: 5px;
}

.Mongo-logo{
    width: 120%;
    margin-left: -10px;
}

.Js-logo{
    width: 90%;
    margin-left: 5px;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
background: rgb(0, 0, 0);
}